#about-cardRounded{
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border: 0px solid #f5a056;
    box-shadow: 0 10px 10px 0 #f5a056;
}
#about-cardRounded2{
    border-radius: 50%;
}
#centrar-about{
    display: flex;
    justify-content: center;
}
.bg-aboutTop{
    background-color: #F6E8EA;
    height: 40vh;
}
.bg-aboutBottom{
    background-color: #537D8D;
    height: 60vh;
}

