#about-cardRounded{
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
#about-cardRounded2{
    border-radius: 50%;
}

.bg-aboutTop{
    background-color: #F6E8EA;
    height: 40vh;
}
.bg-aboutBottom{
    background-color: #537D8D;
    height: 60vh;
}