#banner-covid-container {
  background-color: #222222;

  display: flex;
  justify-content: space-between;
  padding: 15px 150px;

  box-shadow: 0px 10px 8px -1px rgba(102,102,102,1);
}

#banner-covid-container * {
  color: white;
}

#banner-covid-container a {
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

#banner-covid-container a:hover {
  color: #d1d1d1;
  text-decoration: none;
}

#banner-covid-container #covid-link {
  color: white;
}

#covid-link {
  border-bottom: 3px solid #ec4e20;
}
