#BoardNoticiasContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  /* background-color: #d8d8d8; */
}

#NoticiasSecundariasContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* Main container Card */
#CardNoticiaContainer {
  min-height: 400px;
  max-width: 400px;
  background-color: white;
  margin: 15px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#CardNoticiaContainer:hover h4 {
  transition: 0.2s;
  color: #ec4e20;
}

#CardNoticiaContainer:hover img {
  transition:  0.5s;
}

#CardNoticiaContainer:hover img {
  transition: 4s;
  transform: scale(1.1);
}

/* Imagen y categoria */
#CardNoticiaInfo {
  max-height: 250px;
  overflow: hidden;
  width: 100%;
}

#CardNoticiaInfo img {
  max-width: 500px;
}

#CardNoticiaInfo p {
  position: absolute;
  z-index: 1;
  margin-top: 35px;
  color: white;
  min-width: 100px;
  padding: 6px 25px;
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #222222;
  text-align: center;
  opacity: 0.9;
}

/* Titulos y descripcion */
#CardNoticiaBody {
  padding: 20px;
}

#CardNoticiaTitulos {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 500px;
  min-height: 80px;
}

#CardNoticiaTitulos h4 {
  padding-left: 20px;
  opacity: 0.85;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

#CardNoticiaTitulos p {
  opacity: 0.85;
}

#CardFechaContainer {
  display: flex;
  color: #ec4e20;
}

#CardFechaContainer h1 {
  font-weight: 800;
}

#CardFechaContainer #CardFechaContainer-MY {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

#CardFechaContainer #CardFechaContainer-MY p {
  height: auto;
  margin: 0;
  font-weight: 800;
}

#CardNoticiaDescripcion {
  padding-top: 20px;
  width: 100%;
}

#CardNoticiaDescripcion p {
  opacity: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#CardNoticiaDescripcion a {
  opacity: 1;
  color: #ec4e20;
  text-decoration: none;
  min-width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #ec4e20;
  padding: 2px;
}

/* Footer */
#CardNoticiaFooter {
  background-color: #afafb1;
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  width: 100%;
}

#CardNoticiaFooter p {
  margin: 0;
  height: auto;
  padding: 0;
}

/* Publicidad */
.seccion-publicidad {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
  background-color: rgb(238, 238, 238);
}

/* GENERALS */
.colorized-font {
  color: #ec4e20;
}

.colorized-bg {
  background-color: #ec4e20;
}
