#InicioContainer {
    background-color: whitesmoke;
}

.componente {
    min-width: 100vw;
    min-height: 80px;
}

.bg-rojo {
    background-color: rgb(219, 120, 120);
}

.bg-azul {
    background-color: rgb(128, 135, 233);
}

