.bg1{
  background-color: #222222;
}
.bg2{
  background-color: #ec4e20;
}
.bg3{
  background-color: #f6e8ea;
}
.bg4{
  background-color: #537d8d;
}
.bg5{
  background-color: #f7f8f9;
}
.color1{
  color: #222222;
}
.color2{
  color:#ec4e20;
}
.color3{
  color:#f6e8ea;
}
.color4{
  color:#537d8d;
}
.color5{
  color:#f7f7f7;
}

/* estilos barra menu */

#navBlock{
  position: fixed;
}

