.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg1{
  background-color: #222222;
}
.bg2{
  background-color: #ec4e20;
}
.bg3{
  background-color: #f6e8ea;
}
.bg4{
  background-color: #537d8d;
}
.bg5{
  background-color: #f7f8f9;
}
.color1{
  color: #222222;
}
.color2{
  color:#ec4e20;
}
.color3{
  color:#f6e8ea;
}
.color4{
  color:#537d8d;
}
.color5{
  color:#f7f7f7;
}

/* estilos barra menu */

#compactNav{
  /* display: none; */
}
#navDesk{
  width: 100%;
  /* position:fixed; */
}
#navExpand{
  
  /* position:initial; */
}
#dropdown-button:after {
  display:none;
}
#barrasIcon{
  color: #ec4e20;
}
#hr{
  background-color:#ec4e20;
  
}
/* @media screen and (min-width: 350px) and (max-width: 992px) {
  #mobilNav {
    display: none;
  }
} */
#mobilNav{
  position: sticky;
}